@model AutoConfiguratorApp.Models.AutoKonfiguration

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div>
    <h4>AutoKonfiguration</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoModell_Felge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoModell_Felge.AutoModell_FelgeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoModell_Lackierung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoModell_Lackierung.AutoModell_LackierungId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoModell_Motor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoModell_Motor.AutoModell_MotorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FahrSicherheitsSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FahrSicherheitsSystem.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KlimaAnlage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KlimaAnlage.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NavigationsSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NavigationsSystem.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkAssistentSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkAssistentSystem.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoundSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoundSystem.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AutoKonfigurationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
